/*reset*/
body{background:#fff}
ul,ol,li{ list-style:none;}
em{ font-style: normal;}


/*weui reset*/
.weui_btn_primary {
  background-color: #10a6e1;
}
.weui_btn_primary:not(.weui_btn_disabled):visited {
  color: #FFFFFF;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #0996cd;
}

/*golbal*/
.fl{ float: left;}
.fr{ float: right;}
.cl{ clear: both; overflow: hidden;}
.width80{ width: 80%;}

.txtCenter{ text-align: center;}
.txtRight{ text-align: right;}

.colorWhite{color: #fff;}

.f18{ font-size: 18px;}


/*login*/
.logo{
	width: 120px;
	height: 120px;
	vertical-align: middle;		
	background: url(../img/logo.png) no-repeat;
	background-size: 120px 120px;	
	margin: 40px auto;	
}
.forgetPwd{ display: inline-block; float:right; margin: 15px 10px 15px 0; color: #666;}
.btnWrap{ clear: both; padding: 0 10px; margin: 15px 0;}

/*confirmMoney*/
.confirmMoney h2{ text-align: center; font-size: 20px; margin: 35px 0 40px 0; color: #666; }
.icon_scan{
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;		
	background: url(../img/icon_scan.png) no-repeat;
	background-size: 32px 32px;	
	margin: 5px 10px;		
}
.font-label{font-size: 38px;}
.font-input{font-size: 48px;}
.paddingTopBottom{padding-top:30px;padding-bottom:30px;}
.marginTop{margin-top:30px;}

/*receiveMoney*/
.icon_success{
	display: inline-block;
	width: 80px;
	height: 80px;
	vertical-align: middle;		
	background: url(../img/icon_success.png) no-repeat;
	background-size: 80px 80px;	
}

.tanksText{ margin: 50px 0 0 0; border-top: 1px solid #ddd; padding: 20px 0 0 0; font-size: 18px !important; color: #888; text-align: center;}

/*findPwd*/
.findPwd{ text-align: center; }
.findPwd .tel{ font-size: 18px; color: #333; margin: 80px 0;}
.findPwd .tel span{ display: block; color: #10a6e1; font-size:30px;}
.findPwd .tel span a{color: #10a6e1;}

#errorInfo{ color: #f00; padding: 5px 0 0 15px;}

/*ewm*/
.ewm{ background: #fff; padding: 30px; margin:30px 50px 50px 50px; border-radius: 5px; color: #999;}
.ewm img{ width:100%;}
.icon_refresh{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;		
	background: url(../img/icon_refresh.png) no-repeat;
	background-size: 16px 16px;	
	margin:0 3px 3px 0;
}

/*logout*/
.logout{ padding: 15px;font-size: 18px }
.logoutp{ margin: 30px 0 0 0;}
.pem{ color: #10a6e1; font-weight: bold;}
.btnGroup{ margin: 10px auto 50px auto; width: 100%;}
.btnGroupa{ width: 49%; font-size: 18px !important;}
